.canvas-container {
  position: relative;
  height: 320px;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.canvas-container .canvas-back,
.canvas-container .canvas-fore {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.canvas-back {
  z-index: 0;
}

.canvas-fore {
  z-index: 1;
  cursor: crosshair;
}
